// ASSET PATHS
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// @static-base: is defined in Gruntfile.js and injected into Less
@path-fonts         : '@{static-base}/fonts';
@path-img           : '@{static-base}/img';

// COLORS
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@color-bg-body      : #e4e4e4;
@color-copy         : #444;
@color-link         : teal;

// LAYOUT
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@max-content-width  : 940px;
@grid-cols          : 12;
@gutter-width       : 20px;

// BREAKPOINTS and MEDIAQUERIES
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// small is up to
@small-max: 600px;
@m-small: ~"(max-width: @{small-max})"; // @media @variable: broken in lessphp! https://github.com/leafo/lessphp/issues/335

// medium starts at
@medium-min: 601px;
@m-medium-and-up: ~"(min-width: @{medium-min})";

// medium ends at
@medium-max: 900px;
@m-medium-and-down: ~"(max-width: @{medium-max})";

// medium is between
@m-medium: ~"(min-width: @{medium-min}) and (max-width: @{medium-max})";

// large starts at
@large-min: 901px;
@m-large: ~"(min-width: @{large-min})";

// Retina Resolution
@m-retina: ~"(-webkit-min-device-pixel-ratio: 2) /* Webkit-based browsers */, (min--moz-device-pixel-ratio: 2) /* Older Firefox browsers (prior to Firefox 16) */, (min-resolution: 2dppx) /* The standard way */, (min-resolution: 192dpi) /* dppx fallback */";

// FOO
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////