// ASSET PATHS
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//@static-prefix: is defined in Gruntfile.js and injected into Less
@path-fonts         : '@{static-base}/fonts';
@path-img           : '@{static-base}/img';

// COLORS
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@color-bg-body      : #e4e4e4;
@color-copy         : #444;
@color-link         : teal;

// LAYOUT
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@max-content-width  : 940px;
@grid-cols          : 12;
@gutter-width       : 20px;

// ? BREAKPOINTS and MEDIAQUERIES
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// can we move some stuff to layout? automate creation of some things?
// todo

// FOO
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////