#layout {
	@widthDefault: 940px;
	@colorBgDefault: #ddd;

	#page {
		.style(@color: @colorBgDefault) {
			background-color: @color;
		}
	}

	/*#main {
		.style() {
			max-width: @widthDefault;
		}
	}*/

	.center(@parent, @child, @childMaxWidth: @widthDefault) {
		/**
		 * use display block for both elements so parent spans the whole width of its container
		 * and left/right margin auto centering works only for block elements anyway
		 **/
		@{parent} {
			display: block;
		}
		@{child} {
			display: block;
			max-width: @childMaxWidth;
			margin-left: auto;
			margin-right: auto;
		}
	}
}