
// DEMO STUFF
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// grid demo
.demo-grid {

	th {
		text-align: left;
		padding-right: 1em;
	}
	.col {
		&:extend(.wf-box);
		margin-bottom: 1em;
	}
}

